.content , .content-4x4 , .content-6x6, .content-8x8 {
    display: grid;
    justify-content: center; 
    align-content: center; 
    background: rgba(255, 255, 255, 0.1); 
    border: 2px solid rgba(255, 255, 255, 0.5); 
    border-radius: 10px;
    gap: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  .content-4x4 {
    grid-template-columns: repeat( 4, minmax(100px, 1fr));   
  }
  
  .content-6x6 {
    grid-template-columns: repeat( 6, minmax(100px, 1fr));   
  }
  
  .content-8x8 {
    grid-template-columns: repeat( 8, minmax(100px, 1fr));   
  }
  .icon-container{
    display: flex;
    align-items: center;
    width: 70px;
    height: 70px;
  }

  .default-content{
    width: 50px;
    height: 50px;
    display: flex;
}
  .contador {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    background: rgba(0, 0, 0, 0.2); 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 20px;
    background: #ffffff;
    color: #6a11cb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  button:hover {
    transform: scale(1.1);
    background-color: #e0e0e0;
  }
  
  .score{    
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #000;
  }

  
